@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #000;
}

body {
    min-height: 100vh;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-family: "Playfair Display", serif;
    font-size: 30px;
}

nav {
    font-size: 20px;

    display: flex;
    gap: 35px;
}

nav > a {
    color: black;
    /* padding: 15px; */
}

nav > a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #5cc297;
    transition: width 0.3s;
}

nav > a:hover::after {
    width: 100%;
}

.login-area {
    display: flex;
    gap: 20px;
}

.btn {
    font-weight: 500;
    font-size: 20px;
    color: black;
    border: 1px solid #5cc297;
    border-radius: 5px;
    padding: 5px 25px;
    cursor: pointer;
}

.btn-green {
    background-color: #5cc297;
    color: white;
}

.btn-section {
    border-color: white;
    color: white;
}

main {
    width: 100%;
    flex: 1;

    background-image: url("../images/background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#home-intro {
    justify-content: flex-start;
}

.intro {
    max-width: 50%;

    margin-left: 5%;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

section > p {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 36px;
}

footer {
    width: 100%;
    height: 80px;
    padding: 10px 30px;

    background-color: #465c53;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login and register page */
.form-area {
    margin: 30px 0;
    width: 95%;
    max-width: 350px;
    background-color: white;
    border-radius: 5px;

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input:not([type="submit"]),
select {
    width: 100%;
    padding: 5px;
    font-size: 16px;

    outline: none;
    border: none;

    border-bottom: 1px solid #8f8d8d;
}

input:focus {
    border-color: #5cc297;
}

.form-area > p {
    font-size: 16px;
}

.link-green {
    color: #5cc297;
}

/* About us and features styles */

.content {
    width: auto;
    margin: 20px;
    height: 100%;
    padding: 40px;
    background-color: white;
    border-radius: 5px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills a {
    padding: 10px 5px;
    border: 1px solid #5cc297;
    border-radius: 5px;
}

.skills a:hover {
    color: white;
    background-color: #5cc297;
    transform: scale(1.1);
}

.contact {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* Evets page */

.no-bg {
    background-image: none;
}

.event-main {
    flex-direction: column;
    justify-content: flex-start;
}

.event-section {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user-events {
    background-color: rgba(93, 186, 147, 0.25);
}

.events {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.active {
    color: #465c53;
}

.responsive-table {
    width: 80%;
    max-width: 1000px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.responsive-table li {
    /* border-radius: 3px; */
    border: none;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 25px; */
}
.responsive-table .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsive-table .table-row {
    background-color: #ffffff;
}
.responsive-table .col-1 {
    font-weight: bold;
    flex-basis: 20%;
}
.responsive-table .col-2 {
    flex-basis: 80%;
}
@media all and (max-width: 767px) {
    .responsive-table {
        width: 95%;
    }

    .responsive-table .table-header {
        display: none;
    }
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

.actions {
    display: flex;
    gap: 10px;
}

.actions > a:hover {
    background-color: #5cc297;
    color: white;
}

.btn-action-orange:hover {
    border-color: blue;
    background-color: blue;
    color: white;
}

.btn-action-red:hover {
    border-color: red;
    background-color: red;
    color: white;
}

.fixed-btn {
    /* font-size: 50px; */
    position: fixed;
    bottom: 100px;
    right: 50px;

    color: black;
    background-color: white;
    font-weight: bold;
}

.s {
    bottom: 150px;
}

.modal, .buyModal, .addGuestModal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*gap: 10px;*/

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.modal > form, .buyModal > form, .addGuestModal > form {
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

a.btn-red {
    border: red;
    background-color: red;
    color: white;
}

.input-action {
    display: flex;
    gap: 10px;
}

.event-create-form {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    width: 60%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.event-create-form > form {
    width: 80%;
}

textarea {
    outline: none;
    width: 100%;
    min-height: 100px;
}

.radio {
    justify-content: flex-start;
    gap: 20px;
}

.radio > div {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
}

/* User home */

.user-home {
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 450px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    flex-direction: column;
}

.card > h3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    display: flex;
    gap: 10px;
}

.user-home > h1 {
    margin: 10px 0;
}

.vendors {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.vendors > a {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #5cc297;
}

.grid-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    /* grid-gap: 1rem; */
}

.grid-events > ul {
    width: 100%;
    border-radius: 10px;
}

.validationError {
    padding: 5px;
    font-size: 14px;
    color: red;
}

.alert-success {
    padding: 5px;
    font-size: 14px;
    color: #5cc297;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.single {
    flex:1;
    justify-content: flex-start;
}

.grid-single {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    /* grid-gap: 1rem; */
}

.member-card {
    flex-direction: row;
    gap: 10px;
    width: auto;
}