<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" />
        <title>About us</title>
        <script
            src="https://kit.fontawesome.com/3ee52d1216.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="logo"><a th:href="@{/}">EventMaster</a></div>
                <nav class="nav">
                    <a th:href="@{/home}">Home</a>
                    <a th:href="@{/events}">Events</a>
                    <a th:href="@{/features}">Features</a>
                    <a class="active" th:href="@{/about}">About us</a>
                </nav>
                <div class="login-area">
                    <a th:href="@{/login}" class="btn btn-green">Login</a>
                    <a th:href="@{/register}" class="btn">Register</a>
                </div>
            </header>
            <main>
                <div class="content">
                    <div class="greeting">
                        <h1>&#128075;Hi there!</h1>
                    </div>
                    <div class="text-info">
                        <h2>I'm Azimbek Abdipattaev</h2>
                        <p>Simple country guy, who loves to create</p>
                        <p>
                            <a href="https://kbtu.edu.kz" target="_blank"
                                >KBTU</a
                            >
                            student, Future Java Developer
                        </p>
                        <p>
                            <em
                                >I'm 21 years old. Born and raised in
                                Kazakhstan.</em
                            >
                        </p>
                    </div>
                    <h2>My Skills</h2>

                    <div class="skills">
                        <a href="https://www.python.org/" target="_blank"
                            >Python</a
                        >
                        <a href="https://www.djangoproject.com/" target="_blank"
                            >Django</a
                        >
                        <a href="https://www.java.com/" target="_blank">Java</a>
                        <a href="https://www.spring.io/" target="_blank"
                            >Spring</a
                        >
                        <a
                            href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                            target="_blank"
                            >JavaScript</a
                        >
                        <a href="https://angular.io/" target="_blank"
                            >Angular</a
                        >
                        <a
                            href="https://en.wikipedia.org/wiki/Linux"
                            target="_blank"
                            >Linux</a
                        >
                        <a href="https://www.postgresql.org/" target="_blank"
                            >PostgreSQL</a
                        >
                        <a href="https://git-scm.com/" target="_blank">Git</a>
                        <a
                            href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"
                            target="_blank"
                            >HTML5</a
                        >
                        <a
                            href="https://developer.mozilla.org/en-US/docs/Web/CSS"
                            target="_blank"
                            >CSS3</a
                        >
                    </div>

                    <h2>Contact me</h2>
                    <div class="contact">
                        <a href="https://t.me/therealazimbek" target="_blank">
                            <i class="fa-brands fa-telegram fa-2xl"></i>
                        </a>
                        <a
                            href="https://wa.me/77076843612?text=Hi"
                            target="_blank"
                        >
                            <i class="fa-brands fa-whatsapp fa-2xl"></i>
                        </a>
                        <a
                            href="https://www.instagram.com/azimbekabdipattaev"
                            target="_blank"
                        >
                            <i class="fa-brands fa-instagram fa-2xl"></i>
                        </a>
                        <a
                            href="https://github.com/therealazimbek"
                            target="_blank"
                        >
                            <i class="fa-brands fa-github fa-2xl"></i>
                        </a>
                        <a
                            href="https://gitlab.com/therealazimbek"
                            target="_blank"
                        >
                            <i class="fa-brands fa-gitlab fa-2xl"></i>
                        </a>
                        <a
                            href="https://www.linkedin.com/in/azimbek-abdipattayev-3752921aa/"
                            target="_blank"
                        >
                            <i class="fa-brands fa-linkedin fa-2xl"></i>
                        </a>
                    </div>
                </div>
            </main>
            <footer>
                <p class="footer-text">
                    &copy; 2023 EventMaster. All rights are reserved. With Love,
                    Azimbek
                </p>
            </footer>
        </div>
    </body>
</html>
