<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <link rel="icon" th:href="@{/images/favicon.ico}" />
  <title>Event details</title>
  <script
          src="https://kit.fontawesome.com/3ee52d1216.js"
          crossorigin="anonymous"
  ></script>
</head>
<body>
<div class="container">
  <header>
    <div class="logo"><a th:href="@{/}">EventMaster</a></div>
    <nav class="nav">
      <a th:href="@{/home}">Home</a>
      <a th:href="@{/events}">Events</a>
      <a th:href="@{/features}">Features</a>
      <a th:href="@{/about}">About us</a>
    </nav>
    <div class="login-area">
      <div class="flex-row" sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
          <button type="submit" class="btn btn-green">Logout</button>
        </form>
        <!--                        <a th:href="@{/logout}" class="btn btn-green">Logout</a>-->
        <a th:href="@{/profile}" class="btn">Profile</a>

      </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}" class="btn btn-green">Login</a>
        <a th:href="@{/register}" class="btn">Register</a>
      </div>
    </div>
  </header>
  <main class="event-main no-bg">
    <section class="event-section">
      <h2 class="bg-h">Buy event ticket</h2>
      <div style="width: 50%">
        <form method="POST" th:action="@{/profile/addCard}" class="form" th:object="${userPaymentCard}">
          <div class="input-area">
            <input
                    type="text"
                    name="cardNumber"
                    placeholder="Card number"
                    th:field="*{cardNumber}"
            />
            <span class="validationError"
                  th:if="${#fields.hasErrors('cardNumber')}"
                  th:errors="*{cardNumber}"></span>
          </div>
          <div class="input-area">
            <input
                    type="text"
                    name="cardExpDate"
                    placeholder="Card Exp Date"
                    th:field="*{cardExpiration}"
            />
            <span class="validationError"
                  th:if="${#fields.hasErrors('cardExpiration')}"
                  th:errors="*{cardExpiration}"></span>
          </div>
          <div class="input-area">
            <input
                    type="text"
                    name="cardCvc"
                    placeholder="Card CVC"
                    th:field="*{cardCvv}"
            />
            <span class="validationError"
                  th:if="${#fields.hasErrors('cardCvv')}"
                  th:errors="*{cardCvv}"></span>
          </div>
          <div class="input-area">
            <input
                    type="submit"
                    name="submit"
                    value="Add card"
                    class="btn btn-green"
            />

          </div>

        </form>
      </div>

    </section>
  </main>
  <footer>
    <p class="footer-text">
      &copy; 2023 EventMaster. All rights are reserved. With Love,
      Azimbek
    </p>
  </footer>
</div>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
