<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <link rel="icon" th:href="@{/images/favicon.ico}" />
  <title>Home</title>
</head>
<body>
<div class="container">
  <header>
    <div class="logo"><a th:href="@{/}">EventMaster</a></div>
    <nav class="nav">
      <a th:href="@{/home}">Home</a>
      <a th:href="@{/events}">Events</a>
      <a th:href="@{/features}">Features</a>
      <a th:href="@{/about}">About us</a>
    </nav>
    <div class="login-area">
      <div class="flex-row" sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
          <button type="submit" class="btn btn-green">Logout</button>
        </form>
        <!--                        <a th:href="@{/logout}" class="btn btn-green">Logout</a>-->
        <a th:href="@{/profile}" class="btn">Profile</a>

      </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}" class="btn btn-green">Login</a>
        <a th:href="@{/register}" class="btn">Register</a>
      </div>
    </div>
  </header>
  <main class="no-bg user-home">
    <h1>Welcome back, <span th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></span></h1>
    <section class="event-section">
      <div class="events">
        <ul class="responsive-table" th:object="${user}">
          <li class="table-row">
            <div class="col col-1">Firstname</div>
            <div class="col col-2" th:text="${user.getFirstName()}">

            </div>
          </li>
          <li class="table-row">
            <div class="col col-1">Lastname</div>
            <div class="col col-2" th:text="${user.getLastName()}">

            </div>
          </li>
          <li class="table-row">
            <div class="col col-1">Description</div>
            <div class="col col-2" th:text="${user.getAdditionalInfo()}">

            </div>
          </li>
          <li class="table-row">
            <div class="col col-1">Birthday</div>
            <div class="col col-2" th:text="${#temporals.format(user.getBirthday(), 'dd.MM.yyyy, HH:mm')}">

            </div>
          </li>
          <li class="table-row">
            <div class="col col-1">City</div>
            <div class="col col-2" th:text="${user.getCity()}">

            </div>
          </li>

          <li class="table-row">
            <div class="col col-1">Email</div>
            <div class="col col-2" th:text="${user.getEmail()}"></div>
          </li>
          <li class="table-row">
            <div class="col col-1">Phone</div>
            <div class="col col-2" th:text="${user.getPhone()}"></div>
          </li>
          <li class="table-row">
            <div class="col col-1">Actions</div>
            <div class="col col-2 actions">
              <a th:href="@{/users/{id}/edit(id=${user.getId()})}" class="btn btn-action-orange"
              >Edit</a
              >
              <a
                      href="javascript:alert('Are you sere?')"
                      class="btn btn-action-red"
              >Delete</a
              >
            </div>
          </li>
        </ul>
      </div>
    </section>
<!--    <div class="cards">-->
<!--      <div class="card">-->
<!--        <h3>-->
<!--          Upcoming events-->
<!--          <a href="events.html" class="btn btn-green">More</a>-->
<!--        </h3>-->

<!--        <div class="links">-->
<!--          <div class="link">-->
<!--            <p>14.05.2023</p>-->
<!--            <a href="event.html"-->
<!--            >How to start an IT career?</a-->
<!--            >-->
<!--          </div>-->
<!--          <div class="link">-->
<!--            <p>19.05.2023</p>-->
<!--            <a href="event.html"-->
<!--            >How to start an IT career?</a-->
<!--            >-->
<!--          </div>-->
<!--          <div class="link">-->
<!--            <p>19.05.2023</p>-->
<!--            <a href="event.html"-->
<!--            >How to start an IT career?</a-->
<!--            >-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <h3>-->
<!--          My events-->
<!--          <a href="events.html" class="btn btn-green">More</a>-->
<!--        </h3>-->
<!--        <div class="links">-->
<!--          <div class="link">-->
<!--            <p>20.05.2023</p>-->
<!--            <a href="event.html">Bachelor party</a>-->
<!--          </div>-->
<!--          <div class="link">-->
<!--            <p>01.05.2023</p>-->
<!--            <a href="event.html">Developers' day!</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <h3>-->
<!--          Explore events-->
<!--          <a href="events.html" class="btn btn-green">More</a>-->
<!--        </h3>-->
<!--        <div class="links">-->
<!--          <div class="link">-->
<!--            <p>25.05.2023</p>-->
<!--            <a href="event.html">Boys party</a>-->
<!--          </div>-->
<!--          <div class="link">-->
<!--            <p>01.06.2023</p>-->
<!--            <a href="event.html">Town day!</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <h3>-->
<!--          Assigned tasks-->
<!--          <a href="tasks.html" class="btn btn-green">More</a>-->
<!--        </h3>-->
<!--        <div class="links">-->
<!--          <div class="link">-->
<!--            <p>10.05.2023</p>-->
<!--            <a href="task.html">Deal with new vendors</a>-->
<!--          </div>-->
<!--          <div class="link">-->
<!--            <p>03.05.2023</p>-->
<!--            <a href="task.html">Discuss new event</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <h3>-->
<!--          Order history-->
<!--          <a href="orders.html" class="btn btn-green">More</a>-->
<!--        </h3>-->
<!--        <div class="links">-->
<!--          <div class="link">-->
<!--            <p>10.04.2023</p>-->
<!--            Overcome fear-->

<!--          </div>-->
<!--          <div class="link">-->
<!--            <p>03.04.2023</p>-->
<!--            Java Dev Future-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <h3>-->
<!--          Venues & Vendors-->
<!--          <a href="venues.html" class="btn btn-green">More</a>-->
<!--        </h3>-->
<!--        <div class="links">-->
<!--          <div class="link">-->
<!--            <p>-->
<!--              Venue</p>-->
<!--            <a href="venues.html">Almaty Hotel</a>-->
<!--            </p>-->

<!--            <p>30000 T per person</p>-->
<!--          </div>-->
<!--          <div class="link">-->
<!--            <p>Vendor</p>-->
<!--            <a href="vendor.html">Smile Photo Studio</a>-->
<!--            <p>100000 T</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </main>
  <footer>
    <p class="footer-text">
      &copy; 2023 EventMaster. All rights are reserved. With Love,
      Azimbek
    </p>
  </footer>
</div>
</body>
</html>
