<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="icon" th:href="@{/images/favicon.ico}" />
        <title>Register</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="logo"><a th:href="@{/}">EventMaster</a></div>
                <nav class="nav">
                    <a th:href="@{/home}">Home</a>
                    <a th:href="@{/events}">Events</a>
                    <a th:href="@{/features}">Features</a>
                    <a th:href="@{/about}">About us</a>
                </nav>
                <div class="login-area">
                    <div class="flex-row" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-green">Logout</button>
                        </form>
                        <!--                        <a th:href="@{/logout}" class="btn btn-green">Logout</a>-->
                        <a th:href="@{/profile}" class="btn">Profile</a>

                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a th:href="@{/login}" class="btn btn-green">Login</a>
                        <a th:href="@{/register}" class="btn">Register</a>
                    </div>
                </div>
            </header>
            <main>
                <div class="form-area">
                    <h2>Register</h2>
                    <form method="POST" th:action="@{/register}" class="form" th:object="${registrationForm}">
                        <div class="input-area">
                            <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="Email"
                                th:field="*{email}"
                            />
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}"></span>
                        </div>
                        <div class="input-area">
                            <input
                                type="text"
                                name="username"
                                id="username"
                                placeholder="Username"
                                th:field="*{username}"
                            />
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('username')}"
                                  th:errors="*{username}"></span>
                        </div>
                        <div class="input-area">
                            <input
                                type="text"
                                name="firstname"
                                id="firstname"
                                placeholder="Firstname"
                                th:field="*{firstname}"
                            />
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('firstname')}"
                                  th:errors="*{firstname}"></span>
                        </div>
                        <div class="input-area">
                            <input
                                type="text"
                                name="lastname"
                                id="lastname"
                                placeholder="Lastname"
                                th:field="*{lastname}"
                            />
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('lastname')}"
                                  th:errors="*{lastname}"></span>
                        </div>
                        <div class="input-area">
                            <input
                                type="text"
                                name="phone"
                                id="phone"
                                placeholder="Phone"
                                th:field="*{phone}"
                            />
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('phone')}"
                                  th:errors="*{phone}"></span>
                        </div>
                        <div class="input-area">
                            <input
                                type="text"
                                name="city"
                                id="city"
                                placeholder="City"
                                th:field="*{city}"
                            />
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('city')}"
                                  th:errors="*{city}"></span>
                        </div>
                        <div class="input-area">
                            <input
                                type="text"
                                name="birthday"
                                id="birthday"
                                placeholder="Birthday: DD/MM/YYYY"
                                onfocus="(this.type='date')"
                                th:field="*{birthday}"
                            />
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('birthday')}"
                                  th:errors="*{birthday}"></span>
                        </div>
                        <div class="input-area">
                            <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Password"
                                th:field="*{password}"
                            />
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('password')}"
                                  th:errors="*{password}"></span>
                        </div>
                        <div class="input-area">
                            <input
                                type="password"
                                name="password2"
                                id="password2"
                                placeholder="Confirm password"
                                th:field="*{password2}"
                            />
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('passwordsEqual')}"
                                  th:errors="*{passwordsEqual}">No match</span>
                        </div>
                        <div class="input-area">
                            <input
                                type="submit"
                                name="submit"
                                id="submit"
                                value="Register"
                                class="btn btn-green"
                            />
                        </div>
                    </form>
                    <p>
                        Already a user?
                        <a th:href="@{/login}" class="link-green">Login</a>
                    </p>
                </div>
            </main>
            <footer>
                <p class="footer-text">
                    &copy; 2023 EventMaster. All rights are reserved. With Love,
                    Azimbek
                </p>
            </footer>
        </div>
    </body>
</html>
