<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/styles.css" />
        <link rel="icon" href="./images/favicon.ico" />
        <title>Tasks</title>
        <script
            src="https://kit.fontawesome.com/3ee52d1216.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="modal">
            <div>
                <form action="" class="form">
                    <input
                        type="text"
                        name="code"
                        id="code"
                        placeholder="Enter code"
                    />
                    <input
                        type="submit"
                        name="submit"
                        value="Join"
                        class="btn btn-green"
                    />
                </form>
            </div>
        </div>
        <div class="container">
            <header>
                <div class="logo"><a href="index.html">EventMaster</a></div>
                <nav class="nav">
                    <a href="home.html">Home</a>
                    <a class="" href="events.html">Events</a>
                    <a href="features.html">Features</a>
                    <a href="about.html">About us</a>
                </nav>
                <div class="login-area">
                    <a href="login.html" class="btn btn-green">Login</a>
                    <a href="register.html" class="btn">Register</a>
                </div>
            </header>
            <main class="event-main no-bg">
                <section class="event-section">
                    <h2 class="bg-h">Tasks</h2>
                    <a
                        title="New event"
                        class="btn fixed-btn"
                        href="createTask.html"
                        target="_blank"
                        >Create a task</a
                    >

                    <div class="events grid-events">
                        <ul class="responsive-table">
                            <li class="table-row">
                                <div class="col col-1">Title</div>
                                <div class="col col-2">
                                    <a href="task.html">Discuss colors</a>
                                </div>
                            </li>

                            <li class="table-row">
                                <div class="col col-1">Due Date</div>
                                <div class="col col-2">
                                    18 April, at 5:00 pm
                                </div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1">Status</div>
                                <div class="col col-2">Started</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1">Urgency</div>
                                <div class="col col-2">Urgent</div>
                            </li>

                            <li class="table-row">
                                <div class="col col-1">Event</div>
                                <div class="col col-2">
                                    <a href="event.html">Some event title</a>
                                </div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1">Actions</div>
                                <div class="col col-2 actions">
                                    <a
                                        href="javascript:alert('Completed!')"
                                        class="btn btn-action"
                                        >Comlete</a
                                    ><a
                                        href="task.html"
                                        class="btn btn-action-orange"
                                        >Edit</a
                                    >
                                    <!-- <a href="" class="btn btn-action-red"
                                        >Delete</a
                                    > -->
                                </div>
                            </li>
                        </ul>

                        <ul class="responsive-table">
                            <li class="table-row">
                                <div class="col col-1">Title</div>
                                <div class="col col-2">
                                    <a href="task.html">Discuss colors</a>
                                </div>
                            </li>

                            <li class="table-row">
                                <div class="col col-1">Due Date</div>
                                <div class="col col-2">
                                    18 April, at 5:00 pm
                                </div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1">Status</div>
                                <div class="col col-2">Started</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1">Urgency</div>
                                <div class="col col-2">Urgent</div>
                            </li>

                            <li class="table-row">
                                <div class="col col-1">Event</div>
                                <div class="col col-2">
                                    <a href="event.html">Some event title</a>
                                </div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1">Actions</div>
                                <div class="col col-2 actions">
                                    <a
                                        href="javascript:alert('Completed!')"
                                        class="btn btn-action"
                                        >Comlete</a
                                    ><a
                                        href="task.html"
                                        class="btn btn-action-orange"
                                        >Edit</a
                                    >
                                    <!-- <a href="" class="btn btn-action-red"
                                        >Delete</a
                                    > -->
                                </div>
                            </li>
                        </ul>

                        <ul class="responsive-table">
                            <li class="table-row">
                                <div class="col col-1">Title</div>
                                <div class="col col-2">
                                    <a href="task.html">Discuss colors</a>
                                </div>
                            </li>

                            <li class="table-row">
                                <div class="col col-1">Due Date</div>
                                <div class="col col-2">
                                    18 April, at 5:00 pm
                                </div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1">Status</div>
                                <div class="col col-2">Started</div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1">Urgency</div>
                                <div class="col col-2">Urgent</div>
                            </li>

                            <li class="table-row">
                                <div class="col col-1">Event</div>
                                <div class="col col-2">
                                    <a href="task.html">Some event title</a>
                                </div>
                            </li>
                            <li class="table-row">
                                <div class="col col-1">Actions</div>
                                <div class="col col-2 actions">
                                    <a
                                        href="javascript:alert('Completed!')"
                                        class="btn btn-action"
                                        >Comlete</a
                                    ><a
                                        href="task.html"
                                        class="btn btn-action-orange"
                                        >Edit</a
                                    >
                                    <!-- <a href="" class="btn btn-action-red"
                                        >Delete</a
                                    > -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </main>
            <footer>
                <p class="footer-text">
                    &copy; 2023 EventMaster. All rights are reserved. With Love,
                    Azimbek
                </p>
            </footer>
        </div>
        <script src="./js/app.js"></script>
    </body>
</html>
